
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SREE VENKITESWARA  SEVA SAMITHY  ADMIN</title>
    <link rel="stylesheet" href="/static/admincss.css">
    <script src="/static/adminscript.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/static/images/logo.jpg" style="width: 80px;height:60px" alt="Temple Logo">    
            </div>
            <nav>
                <ul>

                    <li class="nav-item">
                        <a href="#" class="nav-link"><i class="fas fa-user-circle"></i><span>{{data['name']}}</span></a>
                    </li>
                   

                    <li class="nav-item">
                        <a href="wejkwkjfbdsfhewibchsjkajkhksakuwdhab"   class="nav-link"><i class="fas fa-message"></i><span  id="mes">Message</span></a>
                    </li>
                    
                   
                    <li class="nav-item">
                        <a href="/" class="nav-link"><i class="fas fa-sign-out-alt"></i><span id="mes">Logout</span></a>
                    </li>
                    <li class="nav-item">   
                       <a href="#"   class="nav-link"  id="sidebar-toggle" onclick="toggleSidebar()"><i class="fas fa-bars"></i></a>
                    </li>

                </ul>
            </nav>
          
        </div>
    </header>

    <div class="sidebar">
        <ul class="nav">

            
            <li class="nav-item">
                <a href="#" id="homeButton"  onclick="playRandomTrack()" class="nav-link"><i class="fa fa-home"    ></i><span >HOME</span></a>
            </li>

            <li class="nav-item">
                <a href="jfoojrtngniejjiwnwgbiwijhfwe" class="nav-link"><i class="fas fa-user-cog"></i><span> User Verify</span></a>
            </li>
           
            <li class="nav-item">
                <a href="bbdbbrbjferjieirewijtiew"  class="nav-link"><i class="fas fa-user-cog"></i><span>Manage User Details</span></a>
            </li>
            <li class="nav-item">
                <a href="poeioiejgueyejbvegfeuwiwhqwqhdhqwgd" class="nav-link"><i class="fas fa-calendar-alt"></i><span>Add Temples</span></a>
            </li>
            <li class="nav-item">
                <a href="kirorwkorrgjerngijrekrhhrtiri" class="nav-link"><i class="fas fa-calendar"></i><span>Index manage</span></a>
            </li>
            <li class="nav-item">
                <a href="kaoiwiwuwgfgeugdqyquyqqbdbjwhw" class="nav-link"><i class="fas fa-user-cog"></i><span>Importent person details</span></a>
            </li>

            <li class="nav-item">
                <a href="hsyeyueyhjgbeuroiuowiqqonjwfnqw" class="nav-link"><i class="fas fa-music"></i><span>View Music</span></a>
            </li>

            <li class="nav-item">
                <a href="kfjgigkdnfdrboitrigjoeriv" class="nav-link"><i class="fa-solid fa-comments"></i><span>View Feedback</span></a>
            </li>
        </ul>
    </div>

  <script>

    
  </script>

  



   